In [1]:
import pandas as pd

In [2]:
ev_df = pd.read_csv('Resources/electric_reg_by_state.csv')
fuel_prices = pd.read_csv('Resources/fuel_prices_by_state.csv')
population = pd.read_csv('Resources/population.csv')
income = pd.read_csv('Resources/income.csv')

## Make a primary key

In [3]:
def create_id(file):
    file['id'] = ""
    for x in range(50):
        file['id'][x] = x+1
    return file

In [4]:
create_id(population)
create_id(fuel_prices)
create_id(ev_df)
create_id(income)

C:\Users\Shampa\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

             state  income  id
0          Alabama   48486   1
1           Alaska   76715   2
2          Arizona   56213   3
3         Arkansas   45726   4
4       California   71228   5
5         Colorado   68811   6
6      Connecticut   76106   7
7         Delaware   65627   8
8          Florida   53267   9
9          Georgia   55679  10
10          Hawaii   78084  11
11           Idaho   53089  12
12        Illinois   63575  13
13         Indiana   54325  14
14            Iowa   58580  15
15          Kansas   57422  16
16        Kentucky   48392  17
17       Louisiana   47942  18
18           Maine   55425  19
19        Maryland   81868  20
20   Massachusetts   77378  21
21        Michigan   54938  22
22       Minnesota   68411  23
23     Mississippi   43567  24
24        Missouri   53560  25
25         Montana   52559  26
26        Nebraska   59116  27
27          Nevada   57598  28
28   New Hampshire   74057  29
29      New Jersey   79363  30
30      New Mexico   48059  31
31        New York   65323  32
32  North Carolina   52413  33
33    North Dakota   63473  34
34            Ohio   54533  35
35        Oklahoma   51424  36
36          Oregon   59393  37
37    Pennsylvania   59445  38
38    Rhode Island   63296  39
39  South Carolina   51015  40
40    South Dakota   56499  41
41       Tennessee   50972  42
42           Texas   59570  43
43            Utah   68374  44
44         Vermont   60076  45
45        Virginia   71564  46
46      Washington   70116  47
47   West Virginia   44921  48
48       Wisconsin   59209  49
49         Wyoming   62268  50

## Check if states match

In [5]:
def matching(file_1, file_2, file_3, file_4):
    for x in range(50):
        if file_1['id'][x] == file_2['id'][x] == file_3['id'][x] == file_4['id'][x]:
            print('Matching')
        else:
            print(f"Error: {x} {file_1['id'][x]}")

In [6]:
matching(fuel_prices, ev_df, population, income)

Matching
Matching
Matching
Matching
Matching
Matching
Matching
Matching
Matching
Matching
Matching
Matching
Matching
Matching
Matching
Matching
Matching
Matching
Matching
Matching
Matching
Matching
Matching
Matching
Matching
Matching
Matching
Matching
Matching
Matching
Matching
Matching
Matching
Matching
Matching
Matching
Matching
Matching
Matching
Matching
Matching
Matching
Matching
Matching
Matching
Matching
Matching
Matching
Matching
Matching

## Create state id table

In [7]:
states = pd.DataFrame({'id':ev_df['id'],
                     'state':ev_df['state']})

## Set Index

In [8]:
ev_df = ev_df.set_index('id')
fuel_prices = fuel_prices.set_index('id')
states = states.set_index('id')
population = population.set_index('id')
income = income.set_index('id')

## Export

In [9]:
ev_df.to_csv('clean_data/ev_registrations.csv')
fuel_prices.to_csv('clean_data/fuel_prices_2020.csv')
states.to_csv('clean_data/states.csv')
population.to_csv('clean_data/population.csv')
income.to_csv('clean_data/income.csv')

## Load to SQL

In [ ]:
rds_connection_string = "postgres:postgres@localhost:5432/customer_db"
engine = create_engine(f'postgresql://{rds_connection_string}')